.widget {
    border-radius: 7px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    cursor: pointer;
    transition: ease 0.12s;
}

.widget .icon {
    flex: 0 0 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.widget .infos {
    padding-left: 14px;
    text-align: left;
}

.widget .infos .name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 4px;
    letter-spacing: .0492857143em;
}

.widget .infos .description {
    font-size: 0.75rem;
    color: #ddd
}